<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laboratorio 13</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="antialized">
    <div class="w-full h-screen">
      <div class="container mx-auto p-20">
        <div class="text-center mb-10">
          <h1 class="font-bold text-4xl">Bienvenido al laboratorio 13</h1>
        </div>
        <section class="py-10 bg-white">
          <div class="px-8 mx-auto max-w-7xl lg:px-16">
            <h2 class="mb-4 text-xl font-bold md:text-3xl">Preguntas</h2>
            <div
              class="grid grid-cols-1 gap-0 text-gray-600 md:grid-cols-2 md:gap-16 text-justify"
            >
              <div>
                <h5 class="mt-10 mb-3 font-semibold text-gray-900">
                  ¿Qué beneficios encuentras en el estilo MVC?
                </h5>
                <p>
                  Los beneficios que trae el uso del estilo MVC es la
                  simplificación del código, debido a que todo se encuentra
                  separado y por ende, es mucho más facil el mantenimiento, la
                  manipulación y la escalabilidad.
                </p>
              </div>
              <div>
                <h5 class="mt-10 mb-3 font-semibold text-gray-900">
                  ¿Encuentras alguna desventaja en el estilo arquitectónico MVC?
                </h5>
                <p>
                  Algunas desventajas que trae consigo el estilo arquitectónico
                  MVC es el mayor número de archivos, y la mayor cantidad de
                  código que se necesita para el desarrollo de una aplicación.
                  Lo que en algunos proyectos muy grandes puede ser
                  contraproducente para el tiempo de desarrollo.
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
